/* button style */
* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  transition: all ease 1s;
}

.c-gamburger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
}

.c-gamburger:focus {
  outline: none;
}

.c-gamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #fff;
}

.c-gamburger span::before,
.c-gamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background: #fff;
  content: "";
}

.c-gamburger span::before {
  top: -20px;
}

.c-gamburger span::after {
  bottom: -20px;
}

.c-gamburger-line {
  background: #cb0032;
}

/* animation */
.c-gamburger-line span {
  transition: background 0s 0.3s;
}

.c-gamburger-line span::before,
.c-gamburger-line span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-gamburger-line span::before {
  transition-property: top, transform;
}
.c-gamburger-line span::after {
  transition-property: bottom, transform;
}

.c-gamburger-line.is-active {
  background: green;
}

.c-gamburger-line.is-active span {
  background: none;
}

.c-gamburger-line.is-active span::before {
  top: 0;
  transform: rotate(-45deg);
}

.c-gamburger-line.is-active span::after {
  bottom: 0;
  transform: rotate(45deg);
}

.c-gamburger-line.is-active span::before,
.c-gamburger-line.is-active span::after {
  transition-delay: 0s 0.3s;
}

/* menu */
#menu {
  width: 300px;
  margin-left: -204px;
  background: rgb(243, 250, 179);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 0.1s;
  z-index: 9999;
}

.body-menu {
  width: 80%;
  min-width: 1000px;
  margin: 30px auto;
  text-align: center;
}

/* open menu */
.body-active {
  margin-left: 300px;
}

#menu.nav-active {
  margin-left: 0;
}

/* menu style */
ul {
  font-size: 1.5rem;
  list-style: none;
}

a {
  color: green;
  text-shadow: rgba(0, 153, 255, 0.6) 2px 2px 2px;
  text-decoration: none;
}
